* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.calc {
    width: 400px;
    background-color: black;
    color: white;

}

.screen {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border:none;
    border-radius: 0;
    cursor: pointer;
    font-size: 40px;

}

.calc-button:hover {
    background: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.calc-button:last-child {
    background-color: #d88e3f;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #d89c5c;
}

.calc-button:last-child:active {
    background-color: #d87e1d;
}

.double {
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

/* Tablet Landscape */

@media screen and (max-width: 1060px) {

    #primary { width:67%; }

    #secondary { width:30%; margin-left:3%;}  

}

/* Tabled Portrait */

@media screen and (max-width: 768px) {

    #primary { width:100%; }

    #secondary { width:100%; margin:0; border:none; }
}